body, html {
    /* height: 100%; */
}

.bg {
}

.bg-image {
    /* The image used */
    background-image: url("./img/background.jpg");
    /* Full height */
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
    /* height: 100%; */
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
