.video-wrapper {
    background: #134E5E;
    background: -webkit-linear-gradient(to left, #71B280, #134E5E);
    background: linear-gradient(to left, #71B280, #134E5E);
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
}

.demoVideo {
    width: 100%;
    height: auto;
}
