#downloadExample {
    background-color: rgb(57,210,180);
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: .3rem .75rem;
    font-size: 1em;
    line-height: 1.5;
    border-radius: .25rem;
    width: 100%;
    margin-bottom: 3%;
    text-decoration: none;
}

#downloadExample:hover {
    background: #34495E;
    color: #39D2B4;
}
