#encodingSelect {
    width: 46%;
    padding: .4rem .75rem;
	cursor: pointer;
	background-color: white;
	border-radius: 0.25rem;
    border: 2px solid rgba(28,188,155,0.5);
    outline: none;
    margin: 0 0 3% 4%;
}

#encodingSelect:hover {
    border: 2px solid rgb(28,188,155);
    transition: all 0.4s ease-in-out 0s;
}
