.single-wrapper {
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 13% 3.3% 0 4%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 0px 5px 30px 3px rgba(0,0,0,0.48);
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
    transition: transform 2.5s cubic-bezier(.03,.965,.25,.975),box-shadow 2.5s cubic-bezier(.03,.965,.25,.975);
}

#singleTitle {
    text-align: center;
    font-size: 32px;
}

#singleImg {
    width: 100%;
    height: 45%;
    margin-bottom: 4%;
    background: center no-repeat url(./img/box.jpg);
    background-size: contain;
}

#singleInput {
    background-color: rgb(239, 239, 240);
    border: 2px solid rgba(28,188,155,0.5);
    border-radius: 3px;
    height: 3%;
    margin-right: 3%;
    outline: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 60%;
}

#singleInput:hover {
    border: 2px solid rgb(28,188,155);
    transition: all 0.4s ease-in-out 0s;
}

#singleInput:focus {
    border: 2px solid rgb(28,188,155);
}

#singleCommit {
    background-color: rgb(57,210,180);
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    width: 37%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#singleCommit:hover {
    background: #34495E;
    color: #39D2B4;
}

.singleType {
    background-color: #1cbc9b;
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 400;
    font-size: 26px;
    color: white!important;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    width: 30%;
    margin: 4% 0;
    border-radius: 30px!important;
    height: 38px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.singleType:hover {
    overflow: scroll;
    text-overflow: inherit;
}

#type1 {
    background-color: #38ada9!important;
    margin-right: 5%;
}

#type2 {
    background-color: #78e08f!important;
    margin-right: 5%;
}

#type3 {
    background-color: #b8e994!important;
}
