.single-wrapper {
    background-color: white;
    /* border: 1px solid black; */
    max-height: 100%;
    /* padding: 10px; */
    width: 400px;
    height: 400px;
    margin: 200px 46px 12px 12px;
    padding: 30px 40px 40px 40px;
    border-radius: 30px;
    box-shadow: 0px 5px 30px 3px rgba(0,0,0,0.48);
    text-align: center;
    font-family: "Lato";
    font-weight: 400;
}

#singleTitle {
    text-align: center;
    font-size: 32px;
}

#singleImg {
    width: 320px;
    height: 150px;
    border: 0px solid transparent;
    margin-bottom: 12px;
    background: center no-repeat url(./img/box.jpg);
    background-size: contain;
}

#singleInput {
    background-color: rgb(239, 239, 240);
    border: 2px solid rgba(28,188,155,0.5);
    border-radius: 3px;
    height: 38px;
    margin-right: 10px;
    outline: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#singleInput:hover {
    border: 2px solid rgb(28,188,155);
    transition: all 0.4s ease-in-out 0s;
}

#singleInput:focus {
    border: 2px solid rgb(28,188,155);
}

#singleCommit {
    background-color: rgb(57,210,180);
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 400;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#singleCommit:hover {
    background: #34495E;
    color: #39D2B4;
}

.singleType {
    background-color: #1cbc9b;
    border: none;
    outline: none;
    display: inline-block;
    font-weight: 400;
    font-size: 26px;
    color: white!important;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    width: 30%;
    margin: 16px 0;
    border-radius: 30px!important;
    height: 38px;
}

#type1 {
    background-color: #38ada9!important;
    margin-right: 8px;
}

#type2 {
    background-color: #78e08f!important;
    margin-right: 8px;
}

#type3 {
    background-color: #b8e994!important;
}
