.fileContainer {
    position: relative;
    width: 100%;
}

.fileInputLabel {
    display: block;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
    border-radius: 0.25rem;
}

.fileInput {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
    height: 36px;
}

.fileInput:hover + .fileInputLabel,
/* .fileInput:focus + .fileInputLabel, */
.fileInputLabel:hover,
.fileInputLabel:focus {
    background: #34495E;
    color: #39D2B4;
}
